{%extends "layout.html"%}

{%block content%}
<form method="POST" class="align-self-center">
    <div class="form-row">
        <div class="form-group">
            {{ bearbeiten.csrf_token }}
            <lable for="username">Username:</lable>
            {{ bearbeiten.username(class_="form-group form-control", placeholder="Benutzername", id="username") }}
            <lable for="vorname">Vorname:</lable>
            {{ bearbeiten.vorname(class_="form-group form-control", placeholder="Vorname", id="vorname") }}
            <lable for="nachname">Nachname:</lable>
            {{ bearbeiten.nachname (class_="form-group form-control", placeholder="Nachname", id="nachname") }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <lable for="gebdat">Geburtstag:</lable>
            {{ bearbeiten.gebdat(class_="form-group form-control", placeholder="Geburtsdatum", id="gebdat")}}
            <lable for="passwort">Neues Passwort:</lable>
            {{ bearbeiten.newpasswort(class_="form-group form-control", placeholder="Neues Passwort", id="passwort")}}
            <lable for="admin">Admin:</lable>
            {{ bearbeiten.admin(class_="form-group form-control", id="admin", checked=benutzer.admin) }}
            <lable for="aktiv">Aktiv:</lable>
            {{ bearbeiten.aktiv(class_="form-group form-control", id="admin", checked=benutzer.aktiv) }}
            <input type="submit" value="Speichern" class="btn btn-success">
            <input type="reset" value="Zurücksetzen" class="btn btn-warning">
            <input type="button" value="Abbrechen" onclick="window.history.back()" class="btn btn-danger"/>
            {{ bearbeiten.passwort (class_="invisible")}}
        </div>
    </div>
</form>
{%endblock content%}