{%extends "layout.html"%}

{%block content%}
<form method="POST" class="align-self-center">
    <div class="form-row">
        <div class="form-group">
            {{ anlegen.csrf_token }}
            <lable for="username">Benutzername:</lable>
            {{ anlegen.username(class_="form-group form-control", placeholder="Benutzername", id="username") }}
            <lable for="vorname">Vorname:</lable>
            {{ anlegen.vorname(class_="form-group form-control", placeholder="Vorname", id="vorname") }}
            <lable for="nachname">Nachname:</lable>
            {{ anlegen.nachname (class_="form-group form-control", placeholder="Nachname", id="nachname") }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <lable for="gebdat">Geburtstag:</lable>
            {{ anlegen.gebdat(class_="form-group form-control", placeholder="Geburtsdatum", id="gebdat")}}
            <lable for="passwort">Passwort:</lable>
            {{ anlegen.passwort(class_="form-group form-control", placeholder="Passwort", id="passwort")}}
            <lable for="admin">Admin:</lable>
            {{ anlegen.admin(class_="form-group form-control", id="admin" )}}
            <lable for="aktiv">Aktiv:</lable>
            {{ anlegen.aktiv(class_="form-group form-control", id="admin")}}
            <input type="submit" value="Anlegen" class="btn btn-success">
            <input type="reset" value="Zurücksetzen" class="btn btn-warning">
            <input type="button" value="Abbrechen" onclick="window.history.back()" class="btn btn-danger"/>
        </div>
    </div>
</form>
{%endblock content%}