{%extends "layout.html"%}

{%block content%}
<div id="listeNavbar" class="w-100 d-flex justify-content-between align-items-content">
    <a class="btn btn-info btn-sm" href="{{ url_for('benutzerverwaltung.benutzerAnlegen')}}">Benutzer Anlegen</a>
    {%if form %}
    <form class="d-flex" method="post">
        {{ form.csrf_token}}
        {{ form.suchFeld(placeholder="Username")}}
        <input type="submit" value="Anzeigen" class="btn btn-secondary btn-sm">
    </form>
    {%endif%}
</div>
<br>

{%block table %}
{%endblock table %}

{%endblock content%}