#listeNavbar {
    background-color: #E0E0E0;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}