

#login_centerclass{
min-height:400px;

color:#0074D9;
background-color:rgba(65,105,225,0.3);
}

#jbg {
  /* The image used */
  background-image: url("../images/Kemptenkirche.jpg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-buffer { margin-top:20px; }


#pwd {
    background-color:rgba(65,105,225,0.0);

}

#usr {
    background-color:rgba(65,105,225,0.0);
}

#remember_me {
     background-color:rgba(65,105,225,0.0);
}
