html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#Header {
    width: 100%;
    min-width: 650px;
    background-color: #E0E0E0;
    padding-left: 16px;
    padding-right: 16px;
    height: 50px;
    margin-bottom: 25px;
}

#benutzerlogo {
    max-height: 80%;
    width: 40px;
}

#navbar {
    background-color: #E0E0E0;
    padding: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.headermargin {
    margin-left: 25px;
    margin-right: 25px;
}
