{% extends "login_layout.html" %}
{% block content %}


<div id="login_centerclass" class="container align-self-center w-50 d-flex flex-column align-items-center">
    <h2 class="align-self-center top-buffer">LOGIN:</h2>
    <form role="form" method='POST' class="d-felx flex-column">
        {{ form.csrf_token }}
        <div class="form-group align-self-center text-center ">
            <label for="usr">Nutzername:</label>
            <div class="form-control" id="usr">{{ form.username(class="usernameclass") }}</div>
            {% if form.username.errors %}
            <ul class="errors">{% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <label for="pwd">Passwort:</label>
            <div class="form-control" id="pwd">{{ form.password(class="passwordclass") }}</div>
            {% if form.password.errors %}
            <ul class="errors">{% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Bestätigen</button>
        </div>

    </form>

    <div class="col-sm-8 align-self-center top-buffer">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>


{% endblock content %}