{% extends "login_layout.html" %}
{% block content %}


<div id="login_centerclass" class="container align-self-center w-50 d-flex flex-column">
    <h2 class="align-self-center">LOGIN:</h2>
    <div class="col-sm-8 align-self-center">
            <div class="container">
                OMG NICHT MEHR EINGELOGGED SICHERHEIT UND SO OMG OMG OMG
            </div>
        </div>
</div>


{% endblock content %}