{%extends "layout.html"%}

{%block content%}
<form method="POST" class="align-self-center">
    <div class="form-row">
        <div class="form-group">
            {{ hinzufuegen.csrf_token }}
            <lable for="bezeichnung">Bezeichnung:</lable>
            {{ hinzufuegen.bezeichnung(class_="form-group form-control", placeholder="Bezeichnung", id="bezeichnung") }}
            <lable for="dozent">Dozent:</lable>
            {{ hinzufuegen.dozent(class_="form-group form-control", placeholder="Dozent", id="dozent") }}
            <lable for="start">Start:</lable>
            {{ zform.start (class_="form-group form-control", placeholder="Start", id="start") }}
            <lable for="ende">Ende:</lable>
            {{ zform.ende (class_="form-group form-control", placeholder="Ende", id="ende") }}
            <lable for="maxTeiln">Maximale Teilnehmer:</lable>
            {{ hinzufuegen.maxTeilnehmer (class_="form-group form-control", placeholder="maxTeilnehmer", id="maxTeilnehmer") }}
        </div>
    </div>

    <div class="form-row">
        <input type="submit" value="Anlegen" class="btn btn-success">
        <input type="reset" value="Zurücksetzen" class="btn btn-danger">
    </div>
</form>
{%endblock content%}
