{% extends "layout.html"%}

{%block content%}

<div id="navbar" class="w-100 d-flex justify-content-between align-items-content">
    <a class="btn btn-info btn-sm" href="{{ url_for('seminarverwaltung.add')}}">Seminar Anlegen</a>
    {%if form %}
    <form class="d-flex" method="post">
        {{ form.csrf_token}}
        {{ form.bezFeld(placeholder="Bezeichnung")}}
        {{ form.dozentFeld(placeholder="Dozent")}}
        <input type="submit" value="Filtern" class="btn btn-secondary btn-sm">
    </form>
    {%endif%}
</div>
<br>

<div class="table-responsive d-flex flex-column">
    <h1>Seminare:</h1>
    {{ table }}
</div>

{%endblock content%}