{%extends "layout.html"%}

{%block content%}

<div class="table-responsive d-flex flex-column">
    <h1>Abmelden bestätigen</h1>
    <p>Möchten sie sich wirklich aus <b>{{ kurs }}</b> ({{ start }} - {{ ende }}) abmelden?</p>
    <div style="margin-left: auto;">
      <a class="btn btn-success" href="/angemeldeteSeminare">Zurück</a>
      <a class="btn btn-danger" href="/abmelden?id={{ id }}&best=ja">Abmelden</a>
    </div>
</div>

{%endblock content%}