{%extends "layout.html"%}

{%block content%}

<div class="table-responsive d-flex flex-column">
    {% if verf %}
    <h1>Verfügbare Seminare:</h1>
    {% elif not verf %}
    <h1>Angemeldete Seminare:</h1>
    {% endif %}
    {{ table }}
</div>

{%endblock content%}