<!DOCTYPE html>
<html lang="de">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Seminarverwaltung</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>

<div id="Header" class="d-flex justify-content-between">
    <div id="HeaderElement1" class="d-flex align-items-center justify-content-between">
        {% if info.admin %}
        <a class="btn btn-info btn-md" href="{{ url_for('benutzerverwaltung.benutzerliste') }}">Benutzerliste</a>
        <a class="btn btn-info btn-md headermargin" href="{{ url_for('seminarverwaltung.seminarliste') }}">Seminarliste</a>
        <a class="btn btn-info btn-md" href="{{ url_for('auswertungen.auswertungBenutzerProSeminar') }}">Auswertungen</a>
        {% elif not info.admin %}
        <a class="btn btn-info btn-md" href="{{ url_for('seminarbelegung.verfuegbare_seminare') }}">Verfügbare Seminare</a>
        <a class="btn btn-info btn-md headermargin" href="{{ url_for('seminarbelegung.angemeldete_seminare') }}">Angemeldete Seminare</a>
        {% endif %}
    </div>

    <div id="HeaderElement2" class="d-flex align-items-center justify-content-between">
        <img id="benutzerlogo" class="img-fluid" src="main_static/images/benutzer.svg" alt="Benutzersymbol">
        {% if info.username is defined %}
        <div class="text-center headermargin">{{ info.username }} <br> {{ info.role }}</div>
        {% endif %}
        <a class="btn btn-secondary btn-md" href="{{url_for('Session.logout')}}">Abmelden</a>
    </div>
</div>

<div class="container d-flex flex-column">
    <div class="col-sm-8 align-self-center text-center">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block body %}
            {% endblock %}

        </div>
    </div>
    {% block content %}
    {% endblock content %}
</div>

{% assets "common_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>