<!DOCTYPE html>
<html lang="de">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Seminarverwaltung</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body >
<div id="login_super_container" class="container d-flex justify-content-between h-100">
    {% block content %}
    {% endblock content %}
</div>
{% assets "common_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>