{% extends "layout.html" %}

{% block content %}

<div id="auswertungenNavbar" class="w-100 d-flex justify-content-between align-items-center">
    <div>
        <a class="btn btn-info btn-sm" href="{{ url_for('auswertungen.auswertungBenutzerProSeminar') }}">Benutzer/Seminar</a>
        <a class="headermargin btn btn-info btn-sm" href="{{ url_for('auswertungen.auswertungAuslastungProSeminar') }}">Auslastung/Seminar</a>
        <a class="btn btn-info btn-sm" href="{{ url_for('auswertungen.auswertungBelSeminareProBenutzer') }}">Seminare/Benutzer</a>
    </div>

    {% if form %}
    <form class="d-flex" method="post">
        {{ form.csrf_token }}
        {{ form.yearField(class_="yearpicker text-center") }}
        <input type="submit" value="Anzeigen" class="btn btn-secondary btn-sm">
    </form>
    {% else %}
    <form class="d-flex" method="post">
        <input type="text" class="yearpicker text-center" disabled>
        <input type="submit" value="Anzeigen" class="btn btn-secondary btn-sm" disabled>
    </form>
    {% endif %}
</div>

<br>

{% block table %}
{% endblock table %}

{% endblock content %}